@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body{
  margin: 0;
  font-family: "Quicksand";
}
.nav-div{
  display: flex;
}
.nav-left
{
  width: 70%;
  text-align: center;
  color: #8362fd;
}
.nav-right{
  width: 30%;
  display: flex;
}
.blue
{
  color: #808080;
  padding: 5px;

}
.blue2
{
  background-color: #8362fd ;
  color: #ffffff;
  margin-left: 10%;
  padding: 5px;
  border-radius: 5px;
}
.fullcontainer
{
  width: 45%;
  text-align: left;
  margin-left: 15%;
  border: 1px gray solid;
  border-radius: 8px;
}
.mother{
  border-bottom: 1px #b3b1b1 solid;
  margin: 20px;
  padding-bottom: 20px;
}
.hashtagsdiv
{
  color: #8362fd;
}